<!-- ==================== breadcrumb Start Here ==================== -->
<div class="breadcrumb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-2__wrapper">
                    <ul class="breadcrumb-2__lists">
                        <li class="breadcrumb-2__item"><a href="index.html" class="breadcrumb-2__link">Home</a></li>
                        <li class="breadcrumb-2__icon"> <i class="fa-solid fa-slash"></i> </li>
                        <li class="breadcrumb-2__item"> <span class="breadcrumb-2__item-text"> @@breadcrumbText </span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== breadcrumb End Here ==================== -->