<section class="browse--section py-80 bg--img" style="background-image: url(assets/images/common/browse.png);">

    <div class="container">

        <div class="row gy-5 justify-content-center">
            <div class="col-lg-12">
                <div class="section-content-4 d-flex justify-content-center flex-column align-items-center mb-50">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6 class="title wow animate__animated animate__fadeInUp text-start fs--32 fw--700 splite-text mb-3"
                                data-splitting data-wow-delay="0.2s">Discover Homeya's Finest Properties For Your Dream
                                Home</h6>
                        </div>
                        <div class="col-lg-6">
                            <p class="text-start fs--16 fw--500 wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">All three of Rooms Hotels locations are restorations that translate historic locations into places of contemporary comfort. Industrial architecture, salvaged building materials and the unique approach</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="row justify-content-center gy-4 mb-5">
            <div class="col-xl-7 col-lg-6 col-md-6">
                <a href="#" class="product--card position-relative w--100">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img1.png" alt="...">
                    </div>

                    <div class="content--wrap position-absolute w--100 d-flex flex-column justify-content-end align-items-start">
                        <h6 class="title text--white fs--32 fw--700">Deluxe Double Room</h6>

                        <ul class="feature--wrap d-flex gap--44 justify-content-start align-items-center">
                            <li class="text--white">500 Sqft</li>
                            <li class="text--white">3-4 guests</li>
                            <li class="text--white">Free Wi-fi</li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6">
                <a href="#" class="product--card position-relative  w--100">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img2.png" alt="...">
                    </div>

                    <div class="content--wrap position-absolute w--100 d-flex flex-column justify-content-end align-items-start">
                        <h6 class="title text--white fs--32 fw--700">Deluxe Double Room</h6>

                        <ul class="feature--wrap d-flex gap--44 justify-content-start align-items-center">
                            <li class="text--white">500 Sqft</li>
                            <li class="text--white">3-4 guests</li>
                            <li class="text--white">Free Wi-fi</li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <a href="#" class="product--card position-relative  w--100">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img3.png" alt="...">
                    </div>

                    <div class="content--wrap position-absolute w--100 d-flex flex-column justify-content-end align-items-start">
                        <h6 class="title text--white fs--32 fw--700">Deluxe Double Room</h6>

                        <ul class="feature--wrap d-flex gap--44 justify-content-start align-items-center">
                            <li class="text--white">500 Sqft</li>
                            <li class="text--white">3-4 guests</li>
                            <li class="text--white">Free Wi-fi</li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <a href="#" class="product--card position-relative  w--100">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img4.png" alt="...">
                    </div>

                    <div class="content--wrap position-absolute w--100 d-flex flex-column justify-content-end align-items-start">
                        <h6 class="title text--white fs--32 fw--700">Deluxe Double Room</h6>

                        <ul class="feature--wrap d-flex gap--44 justify-content-start align-items-center">
                            <li class="text--white">500 Sqft</li>
                            <li class="text--white">3-4 guests</li>
                            <li class="text--white">Free Wi-fi</li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <a href="#" class="product--card position-relative  w--100">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img5.png" alt="...">
                    </div>

                    <div class="content--wrap position-absolute w--100 d-flex flex-column justify-content-end align-items-start">
                        <h6 class="title text--white fs--32 fw--700">Deluxe Double Room</h6>

                        <ul class="feature--wrap d-flex gap--44 justify-content-start align-items-center">
                            <li class="text--white">500 Sqft</li>
                            <li class="text--white">3-4 guests</li>
                            <li class="text--white">Free Wi-fi</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 text-center">
                <button class="btn btn--base btn--lg bg--base text--white pill">View All <i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </div>
    </div>

</section>