<section class="contributor--section pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-12">
                <div class="section-content-4 d-flex justify-content-center flex-column align-items-center mb-40">
                    <h6 class="heading wow animate__animated animate__fadeInUp text-center mb-0 fs--16 fw--500" data-wow-delay="0.1s">Top Our Contributor</h6>
                    <h6 class="title wow animate__animated animate__fadeInUp text-center mb-0 fs--32 fw--700" data-wow-delay="0.2s">Must-See Collections ​</h6>
                </div>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
                <div class="contributor--card d-flex flex-column gap--28">
                    <div class="banner-thumb--wrap">
                        <div class="thumb base--radius overflow-hidden">
                            <img class="fit--img" src="assets/images/user/banner1.png" alt="...">
                        </div>
                    </div>
                    <div class="user--info position-relative d-flex flex-column justify-content-center align-items-center">
                        <div class="thumb radius--50 overflow-hidden position-absolute">
                            <img class="fit--img" src="assets/images/user/img11.png" alt="...">
                        </div>
                        <div class="content--wrap">
                            <a href="user.html" class="name fs--20 fw--600 mb-0">Creative Design Lab</a>
                            <p class="amount text-center text--black fs--14 fw--600">2,456 </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contributor--card d-flex flex-column gap--28">
                    <div class="banner-thumb--wrap">
                        <div class="thumb base--radius overflow-hidden">
                            <img class="fit--img" src="assets/images/user/banner2.png" alt="...">
                        </div>
                    </div>
                    <div class="user--info position-relative d-flex flex-column justify-content-center align-items-center">
                        <div class="thumb radius--50 overflow-hidden position-absolute">
                            <img class="fit--img" src="assets/images/user/img12.png" alt="...">
                        </div>
                        <div class="content--wrap">
                            <a href="user.html" class="name fs--20 fw--600 mb-0">Creative Design Lab</a>
                            <p class="amount text-center text--black fs--14 fw--600">2,456 </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contributor--card d-flex flex-column gap--28">
                    <div class="banner-thumb--wrap">
                        <div class="thumb base--radius overflow-hidden">
                            <img class="fit--img" src="assets/images/user/banner3.png" alt="...">
                        </div>
                    </div>
                    <div class="user--info position-relative d-flex flex-column justify-content-center align-items-center">
                        <div class="thumb radius--50 overflow-hidden position-absolute">
                            <img class="fit--img" src="assets/images/user/img13.png" alt="...">
                        </div>
                        <div class="content--wrap">
                            <a href="user.html" class="name fs--20 fw--600 mb-0">Creative Design Lab</a>
                            <p class="amount text-center text--black fs--14 fw--600">2,456 </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contributor--card d-flex flex-column gap--28">
                    <div class="banner-thumb--wrap">
                        <div class="thumb base--radius overflow-hidden">
                            <img class="fit--img" src="assets/images/user/banner4.png" alt="...">
                        </div>
                    </div>
                    <div class="user--info position-relative d-flex flex-column justify-content-center align-items-center">
                        <div class="thumb radius--50 overflow-hidden position-absolute">
                            <img class="fit--img" src="assets/images/user/img14.png" alt="...">
                        </div>
                        <div class="content--wrap">
                            <a href="user.html" class="name fs--20 fw--600 mb-0">Creative Design Lab</a>
                            <p class="amount text-center text--black fs--14 fw--600">2,456 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>