<section class="cookie-section py-60">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
         
                <div class="cookie-box">
                    <div class="title--wrap">
                        <p class="title">Cookie Policy</p>
                    </div>
                    <ul class="item--wrap">
                        <li class="active"><a href="#HowtomanageCookies">How to manage Cookies?</a></li>
                        <li><a href="#Datacontroller">Types of cookies and Purpose</a></li>
                        <li><a href="#DataSecurity">First-party cookies</a></li>
                        <li><a href="#TermsandConditions">Third-party cookies in Flaticon</a></li>
                        <li><a href="#Dataupdate">Analytical, advertising cookies</a></li>
                    </ul>
                </div>
         
            </div>

            <div class="col-lg-9">
                <div class="coockie-wrap">
                    <section id="HowtomanageCookies">
                        <h6>Welcome to Prompt Privacy Policy</h6>
                        <p class="mb-4">Meticulous selection process ensures each hotel meets stringent quality
                            standards. Whether you’re visiting for business or leisure, trust us to provide you with a
                            stay that combines the utmost security and exceptional service.It waspopularised in the with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                            consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc
                            augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales
                            nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac
                            venenatis</p>
                        <p class="mb-4"> nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                            pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                            nec, vulputate eget, arcu. In enim justo,condimentum, sem libero volutpat nibh, nec
                            pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et
                            ultrices posuere cubilia Curae; Fusce id purus</p>
                    </section>

                    <section id="Datacontroller">


                        <h6>Data controller</h6>
                        <p>nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                            Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                            eget,
                            arcu. In enim justo,condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis
                            nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                            Curae;
                            Fusce id purus</p>
                        <div class="ul-wrap">
                            <ul>
                                <li>Usage Information</li>
                                <li>Usage Information</li>
                                <li>Usage Information</li>
                            </ul>
                        </div>
                    </section>

                    <section id="DataSecurity">
                        <h6>Data Security</h6>
                        <p class="mb-4">Elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus
                            et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc,
                            eu
                            sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit
                            non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis </p>
                        <p class="mb-3"><span>1 Usage : </span> Info commodo ligula eget dolor. Aenean massa. Cum sociis
                            natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc
                            augue
                            blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit </p>
                        <p class="mb-3"><span>2 Security : </span> In enim justo,condimentum, sem libero volutpat nibh,
                            nec
                            pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et
                            ultrices posuere cubilia Curae; Fusce id purus</p>
                        <p class="mb-3"><span>3 Purposes : </span> Tree planting is the act of planting young trees,
                            shrubs,
                            or other woody plants into the ground to establish new forests or enhance existing ones. It
                            is a
                            crucial component of environmental</p>
                        <p class="mb-3"><span>4 Information : </span> commodo ligula eget dolor. Aenean massa. Cum
                            sociis
                            natoque penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc
                            augue
                            blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit </p>
                    </section>

                    <section id="TermsandConditions">


                        <h6>Terms and Conditions</h6>
                        <p class="mb-3">Meticulous selection process ensures each hotel meets stringent quality
                            standards.
                            Whether you’re visiting for business or leisure, trust us to provide you with a stay that
                            combines the utmost security and exceptional service.It waspopularised in the with the
                            release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently consectetuer
                            adipiscing
                            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                            dis
                            parturient montes,posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu
                            sollicitudin
                            urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis.
                            Nullam sagittis. Suspendisse pulvinar, augue ac venenatis </p>
                        <p class="mb-4">nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                            pretium
                            quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                            vulputate eget, arcu. In enim justo,condimentum, sem libero volutpat nibh, nec pellentesque
                            velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere
                            cubilia Curae; Fusce id purus</p>
                    </section>


                    <section id="Dataupdate">
                        <h6>Data update</h6>
                        <p class="mb-4">There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words which don't
                            look
                            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
                            sure
                            there isn't anything embarrassing hidden in the middle of text</p>
                        <p class="mb-3"><span>1 Commodo : </span> ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue
                            blandit
                            nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit </p>
                        <p class="mb-3"><span>2 In enim : </span> justo,condimentum, sem libero volutpat nibh, nec
                            pellentesque velit pede quis nunc. Vestibulum ante ipsum primis in faucibus orci luctus et
                            ultrices posuere cubilia Curae; Fusce id purus</p>
                        <p class="mb-3"><span>3 Tree : </span> planting is the act of planting young trees, shrubs, or
                            other
                            woody plants into the ground to establish new forests or enhance existing ones. It is a
                            crucial
                            component of environmental</p>
                        <p class="mb-3"><span>4 Commodo : </span> ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus et magnis dis parturient montes,posuere, tortor sed cursus feugiat, nunc augue
                            blandit
                            nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit </p>
                    </section>

                </div>
            </div>

        </div>
    </div>
</section>