<!-- < process-section -->
<section class="counter-section bg--base bg--img py-60" style="background-image: url(assets/images/common/counter-bg.png);">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
        <div class="count-card">
          <div class="count-number-wraper">
            <span class="amount odometer text--white" data-count="28"></span>
            <h6 class="amount text--white">M</h6>
          </div>
          <p class="subtitle text--white">ACCOUNT HOLDERS</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="count-card">
          <div class="count-number-wraper">
            <span class="amount odometer text--white" data-count="89"></span>
            <h6 class="amount text--white">K</h6>
          </div>
          <p class="subtitle text--white">ACCOUNT HOLDERS</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="count-card">
          <div class="count-number-wraper">
            <span class="amount odometer text--white" data-count="53"></span>
            <h6 class="amount text--white">M</h6>
          </div>
          <p class="subtitle text--white">ACCOUNT HOLDERS</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="count-card">
          <div class="count-number-wraper">
            <span class="amount odometer text--white" data-count="53"></span>
            <h6 class="amount text--white">M</h6>
          </div>
          <p class="subtitle text--white">ACCOUNT HOLDERS</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  process-section /> -->