<section class="descover--section pb-100">





    <div class="container--wrap">


        <div class="container-fluid">
            <div class="discover--box position-relative overflow-hidden base--radius z--1">
                <div class="bg-circle bg-circle--1"></div>
                <div class="bg-circle bg-circle--2"></div>
                <div class="bg-circle bg-circle--3"></div>
                <div class="bg-circle bg-circle--4"></div>
                <div class="bg-circle bg-circle--5"></div>
                <div class="bg-circle bg-circle--6"></div>

        

                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="content--wrap d-flex flex-column justify-content-center align-items-center">
                            <p class="heading fs--20 text--white fw--500 text-center mb-30">Access high-quality Web Templates</p>
                            <h6 class="title text-center fs--32 text--white mb-30 fw--700">Get Your Unlimited Access to <span class="text--base">30,000+</span> Design Resources</h6>
                            <a class="btn btn--base-two btn--lg mb-40">Get Unlimited Access</a>

                            <ul class="key--wrap d-flex justify-content-center align-items-center flex-wrap gap--32">

                                <li class="d-flex justify-content-center align-items-center gap--8">
                                    <i class="fa-regular fa-circle-check text--white fs--18"></i>
                                    <p class="key text--white fs--18"> 4.9/5 Rating on Product </p>
                                </li>
                                
                                <li class="d-flex justify-content-center align-items-center gap--8">
                                    <i class="fa-regular fa-circle-check text--white fs--18"></i>
                                    <p class="key text--white fs--18"> 4.9/5 Rating on Product </p>
                                </li>
                                
                                <li class="d-flex justify-content-center align-items-center gap--8">
                                    <i class="fa-regular fa-circle-check text--white fs--18"></i>
                                    <p class="key text--white fs--18"> 4.9/5 Rating on Product </p>
                                </li>
                            </ul>
              
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>