<!-- < faq-section -->
<section class="faq-section py-100">

  <div class="container">
      <div class="row gy-5 justify-content-center">
        <div class="col-lg-6">
            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="section-content">
                        <div class="title-wrap">
                          <div class="row justify-content-between">
                            <div class="col-lg-8">
                            <h6 class="heading">FAQ</h6>
                              <h2 class="title mb-3 wow animate__ animate__fadeInUp animated" data-wow-delay="0.2s" >Frequently Asked Questions</h2>
                              <p class="subtitle wow animate__ animate__fadeInUp animated" data-wow-delay="0.3s" >Download the Alister Bank app and simplify</p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap">
                <a href="#" class="btn btn--base">GET More FAQ</a>
            </div>
        </div>


        <div class="col-lg-6">
       
          <div class="accordion custom--accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item wow animate__fadeInUp animated" data-wow-delay="0.2s">
              <div class="accordion-header">
                <div class="number">
                  <h6>01</h6>
                </div>
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse1" aria-expanded="true" aria-controls="flush-collapse1">
                 
                  Are these tools legal and safe use?
                </button>
              </div>
              <div id="flush-collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">PPC (Pay-Per-Click) and CPM (Cost-Per-Mille) are two popular online
                  advertising models.
                  PPC involves advertisers paying for each click their ad receives,
                  while CPM requires advertisers to pay for every 1,000 ad impressions.
                </div>
              </div>
            </div>
            <div class="accordion-item wow animate__fadeInUp animated" data-wow-delay="0.3s">
              <div class="accordion-header">
                <div class="number">
                  <h6>02</h6>
                </div>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                
                  Are these tools legal and safe use?
                </button>
              </div>
              <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">In PPC advertising, advertisers bid on keywords relevant to their target
                  audience. When users search for those keywords, the ad is displayed. Advertisers only pay when someone
                  clicks on their ad, directing them to their website or landing page.</div>
              </div>
            </div>
            <div class="accordion-item wow animate__fadeInUp animated" data-wow-delay="0.4s">
              <div class="accordion-header">
                <div class="number">
                  <h6>03</h6>
                </div>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                  Are exchange rates the same everywhere?
                </button>
              </div>
              <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">PPC offers instant visibility for your business, targeted reach, and
                  complete control over your budget. It allows you to measure the effectiveness of your ads in real-time
                  and make data-driven optimizations.</div>
              </div>
            </div>
            <div class="accordion-item wow animate__fadeInUp animated" data-wow-delay="0.5s">
              <div class="accordion-header">
                <div class="number">
                  <h6>04</h6>
                </div>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                  Are these tools legal and safe use?
                </button>
              </div>
              <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">CPM advertising charges advertisers for every 1,000 impressions their ad
                  receives, regardless of whether users click on it or not. It is particularly useful for brand
                  awareness campaigns and reaching a broad audience.</div>
              </div>
            </div>
          </div>
        </div>

        

      </div>
 

  </div>
</section>
<!--  faq-section /> -->