<!-- < add to cart components -->

<div class="filter--box animate__backInRight">
        <button class="close--btn"><i class="fa-solid fa-xmark"></i></button>

        <div class="filter--wrap d-flex flex-column gap--12 pt-4">
            <div class="range-slider" data-group-type="status">
                <div class="label">
                    <span>Price Range</span>
                </div>
                <div class="range-slider-box">
                    <div class="slider-box mb-4 pb-2">
                        <div class="sliderr">
                            <div class="progresss"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="10000" value="100">
                            <input type="range" class="range-max" min="0" max="10000" value="7000">
                        </div>
                    </div>
                    <div class="price-input d-flex justify-content-between align-items-center gap--24">
                        <input class="form--control input-min" type="number" value="100" name="min_price">
                        <input class="form--control input-max" type="number" value="7000" name="min_price">
                    </div>
                </div>
            </div>

            <div class="filter-group show" data-group-type="status">
                <div class="label">
                    <span>Availability</span>
                </div>
                <div class="items">
                    <label class="filter">
                        <input type="checkbox" name="status" value="7">
                        <span>In Stock</span>
                    </label>
                    <label class="filter">
                        <input type="checkbox" name="status" value="8">
                        <span>Pre Order</span>
                    </label>
                    <label class="filter">
                        <input type="checkbox" name="status" value="9">
                        <span>Up Coming</span>
                    </label>
                </div>
            </div>

            <div class="filter-group show" data-group-type="status">
                <div class="label">
                    <span>Capacity</span>
                </div>
                <div class="items">
                    <label class="filter">
                        <input type="checkbox" name="status" value="7">
                        <span>In Stock</span>
                    </label>
                    <label class="filter">
                        <input type="checkbox" name="status" value="8">
                        <span>Pre Order</span>
                    </label>
                    <label class="filter">
                        <input type="checkbox" name="status" value="9">
                        <span>Up Coming</span>
                    </label>
                </div>
            </div>


            <div class="filter-group show" data-group-type="status">
                <div class="label">
                    <span>Type</span>
                </div>
                <div class="items">
                    <label class="filter">
                        <input type="checkbox" name="status" value="7">
                        <span>In Stock</span>
                    </label>
                    <label class="filter">
                        <input type="checkbox" name="status" value="8">
                        <span>Pre Order</span>
                    </label>
                    <label class="filter">
                        <input type="checkbox" name="status" value="9">
                        <span>Up Coming</span>
                    </label>
                </div>
            </div>


            <div class="filter-group show" data-group-type="status">
                <div class="label">
                    <span>Technology</span>
                </div>
                <div class="items">
                    <label class="filter">
                        <input type="checkbox" name="status" value="7">
                        <span>In Stock</span>
                    </label>
                    <label class="filter">
                        <input type="checkbox" name="status" value="8">
                        <span>Pre Order</span>
                    </label>
                    <label class="filter">
                        <input type="checkbox" name="status" value="9">
                        <span>Up Coming</span>
                    </label>
                </div>
            </div>
        </div>


</div>








<!-- add to cart components /> -->