<section class="profile--section py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owner--profile bg--img base--radius bg--white mb-40">
                    <div
                        class="profile--info d-flex flex-column justify-content-center align-items-center gap--16 mb-4">
                        <div class="thumb--wrap radius--30">
                            <img class="fit--img" src="assets/images/user/img12.png" alt="...">
                        </div>
                        <h6 class="name fs--26 fw--700 mb-0">BoxLab</h6>
                        <p class="">Member since August 2018</p>
                    </div>


                    <ul class="auth--badge d-flex align-items-center justify-content-center gap--8 flex-wrap mb-4">
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge1.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge2.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge3.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge4.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge5.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge6.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge7.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge8.png" alt="...">
                            </div>
                        </li>
                    </ul>

                    
                    <ul class="profile-menu--wrap d-flex justify-content-center align-items-center flex-wrap gap--40">
                        <li class="item"> <a href="profile.html">Profile</a></li>
                        <li class="item"> <a href="user.html">Portfolio</a></li>
                        <li class="item"> <a class="active" href="followers.html">Followers</a></li>
                        <li class="item"> <a href="following.html">Following</a></li>
                    </ul>

                </div>

                <div class="row gy-4">
                    <div class="col-lg-8">
                        <div class="follower-item--wrap d-flex flex-column gap--16">

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img1.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img2.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img3.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img4.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img5.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img6.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img1.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img2.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img3.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>

                            <div class="follower--item d-flex align-items-center justify-content-between gap--24 base--radius bg--white p-4 flex-wrap flex-sm-nowrap">
                                <div class="d-flex justify-content-start align-items-center flex-wrap gap--12">
                                    <div class="thumb--wrap">
                                        <img class="fit--img" src="assets/images/product/portfolio/img4.png" alt="...">
                                    </div>
                                    <div class="content--wrap">
                                        <h6 class="title mb-0"><a class="fs--18 fw--800"
                                                href="user.html">Quinehub</a></h6>
                                        <p class="auth--name fs--14 mb-1">Member since August 2018</p>
                                    </div>
                                </div>

                                <div class="d-flex gap--32 justify-content-end align-items-end flex-wrap">
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Followers</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Following</p>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start">
                                        <h6 class="mb-0 fs--18 fw--700">254</h6>
                                        <p>Sale</p>
                                    </div>
                                    <div class="btn--wrap">
                                        <a href="#" class="btn btn--base-two">View Profile</a>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>



                    <div class="col-lg-4">
                        <div class="details-wrap p-4 base--radius bg--white mb-5">
                            <div class="title--wrap mb-4">
                                <h6 class="title fs--20 fw--600">Upload an Item</h6>
                                <span class="btm--bar"></span>
                            </div>

                            <div class="btn--wrap">
                                <a href="upload.html" class="btn btn--base-two btn--lg w-100">Upload Now</a>
                            </div>
                        </div>

                        <div class="details-wrap p-4 base--radius bg--white">
                            <div class="title--wrap mb-4">
                                <h6 class="title fs--20 fw--600">Upload an Item</h6>
                                <span class="btm--bar"></span>
                            </div>

                            <form>
                                <div class="mb-4 form-group">
                                    <label class="mb-2 form--label">Email</label>
                                    <input class="form--control bg--white" placeholder="Email">
                                </div>
                                <div class="mb-4 form-group">
                                    <label class="mb-2 form--label">Message</label>
                                    <textarea class="form--control bg--white" placeholder="Message"></textarea>
                                </div>

                                <div class="btn--wrap">
                                    <button  class="btn btn--base-two btn--lg">Send</button>
                                </div>
                            </form>

                            
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>