<!-- Header Start -->

<div class="header-main-area">
  <div class="header section--bg position-relative" id="header">
    <div class="container-fluid position-relative">
        <div class="header-wrapper">
          <!-- ham menu -->
          <i class="fa-sharp fa-solid fa-bars-staggered ham__menu" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>

          <!-- logo -->
          <div class="header-menu-wrapper align-items-center d-flex">
            <div class="logo-wrapper">
              <a href="index.html" class="normal-logo" id="normal-logo"> <img src="assets/images/logo/logo.png"
                  alt="...">
              </a>
            </div>
          </div>
          <!-- / logo -->


          <div class="menu-list-wrapper">
              <ul class="main-menu">
                <li><a class='active' href="index.html">Explore</a></li>
                <li><a href="explore.html">Video</a></li>
                <li><a href="explore.html">Photos</a></li>
                <li><a href="explore.html">Vector</a></li>
                <li><a href="explore.html">PSD</a></li>
                <li><a href="explore.html">Illustrator</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
          </div>

          <ul class="login-lng d-flex align-items-center gap-3">
            <li class="language">
              <div class="language-box">
                <i class="fa-solid fa-globe"></i>
                <select class="select">
                  <option selected="">English</option>
                  <option value="1">Bangla</option>
                  <option value="2">France</option>
                  <option value="3">Spanish</option>
                </select>
              </div>
            </li>
            <li >
              <a class="login--btn" href="login.html">Sign in</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
<!-- Header section End -->

<!-- Sidebar mobile menu wrap Start-->
<div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasExample">
  <div class="offcanvas-header">
    <div class="logo">
      <div class="align-items-center d-flex">
        <div class="logo-wrapper">
          <a href="index.html" class="normal-logo" id="offcanvas-logo-normal">
            <img src="assets/images/logo/logo.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="user-info">
      <div class="user-thumb">
        <a href="userDashboard.html">
          <img src="assets/images/user/user3.png" alt="user-thumb">
        </a>
      </div>
      <a href="userDashboard.html">
        <h4>Anonymous Alex</h4>
      </a>
    </div>
    <ul class="side-Nav">
      <li>
        <a class="active" href="index.html">
          Home
        </a>
      </li>
      <li>
        <a href="browse.html">
          Browse
        </a>
      </li>
      <li>
        <a href="blog.html">
          Blog
        </a>
      </li>
      <li>
        <a href="contact.html">
          Contact
        </a>
      </li>
      <li>
        <a href="login.html">
          Login
        </a>
      </li>
      <li>
        <a href="login.html" class="login-btn">Signup</a>
      </li>
    </ul>
  </div>
</div>







<!-- Sidebar mobile menu wrap End -->