<!-- < Hero Section -->
<section class="hero bg--white">




    <div class="container position-relative">
        <div class="row gy-5">
            <div class="col-lg-7">
                <div class="hero-content--wrap position-relative">
                    <div class="content">
                        <h6 class="title wow animate__animated animate__fadeInUp splite-text" data-splitting
                            data-wow-delay="0.1s">Find the top Hotels nearby.</h6>
                        <p class="discription fs--18 fw--500">Looking for a comfortable and convenient place to call
                            home? Our house rental offers spacious living areas, modern amenities, and a prime location.
                            Featuring multiple bedrooms, updated kitchens, and cozy living spaces, it's perfect for
                            families or professionals.</p>
                    </div>
                    <div class="category">
                        <ul class="category-list--wrap d-flex justify-content-between align-items-center w--70">
                            <li class="fs--16 fw--500">Vila</li>
                            <li class="fs--16 fw--500">Family House</li>
                            <li class="fs--16 fw--500">Hotel</li>
                            <li class="fs--16 fw--500">Room</li>
                        </ul>
                    </div>

                    <div class="button--wrap d-flex flex-wrap justify-content-start align-items-center gap--44">
                        <button class="btn btn--base btn--lg pill">Discover now</button>

                        <div class="video--intro d-flex align-items-center gap--12">
                            <a href="https://www.youtube.com/watch?v=K5DoQnZA0oI"
                                class="thumb--wrap position-relative cursor-pointer popup_video" tabindex="0">
                                <img src="assets/images/hero/video-btn-img.png" alt="...">
                                <i class="fa-solid fa-play"></i>
                            </a>


                            <p class="fs--18 text--black">Watch our story</p>
                        </div>


                    </div>


                    <div class="element--three position-absolute">
                        <img src="assets/images/hero/element3.png" alt="....">
                    </div>

                    <div class="element--four position-absolute left_image_bounce">
                        <img src="assets/images/hero/element4.png" alt="....">
                    </div>
                </div>


            </div>


            <div class="col-lg-5">
                <div class="hero--right position-relative">
                    <div class="element--one">
                        <img src="assets/images/hero/img1.png" alt="...">
                    </div>
                    <div class="element--two top_image_bounce">
                        <img src="assets/images/hero/img2.png" alt="...">
                    </div>
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/hero/hero-img.png" alt="...">
                    </div>
                </div>
            </div>
        </div>



        <div class="filter--wrap position-absolute">
            <div class="row gy-2">
                <div class="xol-xl-9 col-lg-11 col-md-12">
                    <h6 class="mb-4">Check Availability</h6>
                    <div class="form--wrap">
                        <form>
                            <div class="row">
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group position-relative">
                                        <label class="mb-2 form--label text--black">Check In</label>
                                        <input class="datepicker-here form--control border--none ps-0 py-0" 
                                            placeholder="Add dates"
                                            name="date" data-range="true"
                                            data-multiple-dates-separator=" - " 
                                            data-language="en" 
                                            data-format="dd-mm-yyyy" 
                                            data-position='bottom right' 
                                            placeholder="Start date - End date" 
                                            autocomplete="off"
                                            value="" 
                                        >

                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group position-relative">
                                        <label class="mb-2 form--label text--black">Check Out</label>
                                        <input class="datepicker-here form--control border--none ps-0 py-0" 
                                            placeholder="Add dates"
                                            name="date" data-range="true"
                                            data-multiple-dates-separator=" - " 
                                            data-language="en" 
                                            data-format="dd-mm-yyyy" 
                                            data-position='bottom right' 
                                            placeholder="Start date - End date" 
                                            autocomplete="off"
                                            value=""
                                        >
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group position-relative">
                                        <label class="mb-2 form--label text--black">Adults</label>
                                        <input class="form--control border--none ps-0 py-0" placeholder="Add Adults">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group position-relative">
                                        <label class="mb-2 form--label text--black">Children</label>
                                        <input class="form--control border--none ps-0 py-0" placeholder="Add Children">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="form-group position-relative">
                                        <label class="mb-2 form--label text--black">Room’s</label>
                                        <input class="form--control border--none ps-0 py-0" placeholder="Add Room’s">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 text-end position-relative">
                                    <button
                                        class="search--btn btn btn--base bg--base text--white circle position-absolute"><i
                                            class="fa-solid fa-magnifying-glass fs--32"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>




    </div>


  

</section>
<!--  Hero Section />-->