<section class="how-it--work py-100">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp" data-wow-delay="0.1s">How it works</h6>
                    <h1 class="title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">It's Easy To Join With Us</h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Download the Alister Bank app and simplify</p>
                </div>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-3">
                <div class="how-work--box">
                    <div class="icon-wrap">
                        <i class="fa-solid fa-user"></i>
                        <span class="count">01</span>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Open An Account</h6>
                        <p class="sub-title">Download the Alister Bank app and simplify</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how-work--box">
                    <div class="icon-wrap">
                        <i class="fa-solid fa-circle-check"></i>
                        <span class="count">02</span>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Verification</h6>
                        <p class="sub-title">Download the Alister Bank app and simplify</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how-work--box">
                    <div class="icon-wrap">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <span class="count">03</span>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Deposit</h6>
                        <p class="sub-title">Download the Alister Bank app and simplify</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="how-work--box">
                    <div class="icon-wrap">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span class="count">04</span>
                    </div>
                    <div class="content-wrap">
                        <h6 class="title">Get Service</h6>
                        <p class="sub-title">Download the Alister Bank app and simplify</p>
                    </div>
                </div>
            </div>
           
        </div>

    </div>
</section>