<section class="investor-section py-100">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.1s">Top Investors</h6>
                    <h1 class="title wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.2s">Our Top Investors</h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Aenean vulputate
                        eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                </div>
            </div>
        </div>
        
        <div class="row gy-4 mt-100">
            <div class="col-lg-3 col-md-6">
                <div class="investors-card">
                    <div class="card--header">
                        <div class="thumb-wrap">
                            <img src="assets/images/icon/icon11.png" alt="...">
                        </div>
                        <p class="status text--white">1st Investor</p>
                    </div>
                    <div class="content--wrap">
                        <h6 class="name">Testingo Testingo</h6>
                        <p class="title">whoami420</p>
                        <p class="amount">Investment - $3,477,100.00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="investors-card">
                    <div class="card--header">
                        <div class="thumb-wrap">
                            <img src="assets/images/icon/icon11.png" alt="...">
                        </div>
                        <p class="status text--white">1st Investor</p>
                    </div>
                    <div class="content--wrap">
                        <h6 class="name">Testingo Testingo</h6>
                        <p class="title">whoami420</p>
                        <p class="amount">Investment - $3,477,100.00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="investors-card">
                    <div class="card--header">
                        <div class="thumb-wrap">
                            <img src="assets/images/icon/icon11.png" alt="...">
                        </div>
                        <p class="status text--white">1st Investor</p>
                    </div>
                    <div class="content--wrap">
                        <h6 class="name">Testingo Testingo</h6>
                        <p class="title">whoami420</p>
                        <p class="amount">Investment - $3,477,100.00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="investors-card">
                    <div class="card--header">
                        <div class="thumb-wrap">
                            <img src="assets/images/icon/icon11.png" alt="...">
                        </div>
                        <p class="status text--white">1st Investor</p>
                    </div>
                    <div class="content--wrap">
                        <h6 class="name">Testingo Testingo</h6>
                        <p class="title">whoami420</p>
                        <p class="amount">Investment - $3,477,100.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>