<section class="marketing--section pb-100">





    <div class="container--wrap">


        <div class="container-fluid">
            <div class="marketing--box bg--white position-relative overflow-hidden base--radius z--1">

        

                <div class="row justify-content-center">
                    <div class="col-xxl-5 col-xl-6 col-lg-5">
                        <div class="content--wrap d-flex flex-column justify-content-center align-items-center">
                            <p class="heading fs--20 fw--500 mb-30 text-center">Access high-quality Web Templates</p>
                            <h6 class="title text-center fs--40  mb-30 fw--700">Start Earning with Creative Market</h6>
                            <a class="btn btn--base-two btn--lg mb-40">Become An Creator</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>