<section class="newslatter-section bg--base bg--img py-60" style="background-image: url(assets/images/common/news-latter.png);">
    <div class="container">
        <div class="row justify-content-between gy-4">
            <div class="col-lg-7">
                <div class="content--wrap">
                    <h6 class="title text--white fs--50 w--70">Join Our <span class="text--underline">Newsletter</span> & Get Updated.</h6>
                </div>

            </div>
            <div class="col-lg-5">
                <div class="stay-tune-box">

          
                   
                    <div class="footer-subscribe-box mb-3">
                        <form action="">
                            
                                <input class="form--control footer-input w--100" name="email" type="email" placeholder="Email Address"
                                id="email">
                            
                   
                            <button class="btn btn--dark search-btn bg--black text--white ms-3" type="submit"><i class="fa-solid fa-paper-plane me-2"></i> Subscribe</button>
                        </form>
                        
                    </div>
                    <p class="fs--18 fw--400 text--white">We only send interesting and relevant emails.</p>
                </div>
            </div>
          
        </div>
    </div>
</section>