<section class="payment-section py-100">

    <div class="bg--image">
        <img src="assets/images/common/plan-bg.png" alt="...">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.1s">Our Payment Getway</h6>
                    <h1 class="title wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.2s">Payment We Accept</h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Here are the investor leaders who have made the maximum investment with our system.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center gy-4">
            <div class="col-lg-2 col-md-6">
                <div class="payment-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon20.png" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="payment-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon20.png" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="payment-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon20.png" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="payment-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon20.png" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="payment-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon20.png" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="payment-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon20.png" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>