<!-- < product details  -->
<section class="product-details py-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="item--wrap mb-4">

                    <div class="d-flex justify-content-between align-items-center flex-wrap gap--12 pb-3">
                        <ul class="product--menu d-flex flex-wrap gap--68">
                            <li><a href="details.html" class="item--link">Description</a></li>
                            <li><a href="review.html" class="item--link">Reviews <span
                                        class="badge badge--base">05</span></a>
                            </li>
                            <li><a href="comment.html" class="item--link active">Comments <span
                                        class="badge badge--base">58</span></a>
                            </li>
                        </ul>

                        <div class="d-flex gap--16 justify-content-between align-items-center">
                            <button class="share--btn"><i class="fa-solid fa-share-nodes"></i></button>
                            <ul class="star--wrap d-flex">
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star-half-stroke"></i></li>
                                <li class="ms-2">
                                    <p class="text--black">(50k)</p>

                                </li>
                            </ul>
                            <p class="total--sell text--black">Sale 874</p>
                        </div>
                    </div>
                    <span class="btm--bar1"></span>
                </div>

                <div class="product--thumb base--radius overflow-hidden mb-4">
                    <img class="fit--img" src="assets/images/common/product1.png" alt="...">
                </div>

                <div class="d-flex justify-content-between flex-wrap gap--20 mb-5">
                    <div class="btn--wrap d-flex flex-wrap gap--28">
                        <button class="btn btn--base-two btn--md">Live Preview</button>
                        <button class="btn btn-outline--base btn--md">Live Preview</button>
                    </div>
                    <div class="price--wrap">
                        <h6 class="price fs--32 fw--700">$78</h6>
                    </div>
                </div>



                <div class="key description mb-5">
                    <div class="title--wrap mb-4">
                        <h1 class="title fs--20 fw--700">All Review</h1>
                        <span class="btm--bar"></span>
                    </div>

                    <div class="review-card--wrap d-flex flex-column gap--24">
                        <div class="review--card d-flex flex-column justify-content-start gap--16">
                            <div class="user-meta--wrap d-flex justify-content-start align-items-center gap--20">
                                <div class="thumb--wrap radius--50 overflow-hidden">
                                    <img class="fit--img" src="assets/images/user/user2.png" alt="...">
                                </div>
                                <div class="content--wrap">
                                    <h6 class="name mb-0 fs--20 fw--500">Rianne Russell</h6>
                                    <p>England, United Kingdom</p>
                                </div>
                            </div>

                           
                            <div class="description--wrap">
                                <p>This ring is more beautiful in person. My favorite ring by far now. Customer service
                                    is the best I’ve had so far. Came very quickly considering they made it after I
                                    ordered it Will definitely </p>
                            </div>
                        </div>

                        <div class="review--card d-flex flex-column justify-content-start gap--16">
                            <div class="user-meta--wrap d-flex justify-content-start align-items-center gap--20">
                                <div class="thumb--wrap radius--50 overflow-hidden">
                                    <img class="fit--img" src="assets/images/user/user3.png" alt="...">
                                </div>
                                <div class="content--wrap">
                                    <h6 class="name mb-0 fs--20 fw--500">Rianne Russell</h6>
                                    <p>England, United Kingdom</p>
                                </div>
                            </div>

                           
                            <div class="description--wrap">
                                <p>This ring is more beautiful in person. My favorite ring by far now. Customer service
                                    is the best I’ve had so far. Came very quickly considering they made it after I
                                    ordered it Will definitely </p>
                            </div>
                        </div>

                        <div class="review--card d-flex flex-column justify-content-start gap--16">
                            <div class="user-meta--wrap d-flex justify-content-start align-items-center gap--20">
                                <div class="thumb--wrap radius--50 overflow-hidden">
                                    <img class="fit--img" src="assets/images/user/user1.png" alt="...">
                                </div>
                                <div class="content--wrap">
                                    <h6 class="name mb-0 fs--20 fw--500">Rianne Russell</h6>
                                    <p>England, United Kingdom</p>
                                </div>
                            </div>

                            <div class="description--wrap">
                                <p>This ring is more beautiful in person. My favorite ring by far now. Customer service
                                    is the best I’ve had so far. Came very quickly considering they made it after I
                                    ordered it Will definitely </p>
                            </div>
                        </div>

                        <div class="review--card d-flex flex-column justify-content-start gap--16">
                            <div class="user-meta--wrap d-flex justify-content-start align-items-center gap--20">
                                <div class="thumb--wrap radius--50 overflow-hidden">
                                    <img class="fit--img" src="assets/images/user/user4.png" alt="...">
                                </div>
                                <div class="content--wrap">
                                    <h6 class="name mb-0 fs--20 fw--500">Rianne Russell</h6>
                                    <p>England, United Kingdom</p>
                                </div>
                            </div>

                           
                            <div class="description--wrap">
                                <p>This ring is more beautiful in person. My favorite ring by far now. Customer service
                                    is the best I’ve had so far. Came very quickly considering they made it after I
                                    ordered it Will definitely </p>
                            </div>
                        </div>

                        <div class="review--card d-flex flex-column justify-content-start gap--16">
                            <div class="user-meta--wrap d-flex justify-content-start align-items-center gap--20">
                                <div class="thumb--wrap radius--50 overflow-hidden">
                                    <img class="fit--img" src="assets/images/user/user1.png" alt="...">
                                </div>
                                <div class="content--wrap">
                                    <h6 class="name mb-0 fs--20 fw--500">Rianne Russell</h6>
                                    <p>England, United Kingdom</p>
                                </div>
                            </div>

                            
                            <div class="description--wrap">
                                <p>This ring is more beautiful in person. My favorite ring by far now. Customer service
                                    is the best I’ve had so far. Came very quickly considering they made it after I
                                    ordered it Will definitely </p>
                            </div>
                        </div>

                        <div class="review--card d-flex flex-column justify-content-start gap--16">
                            <div class="user-meta--wrap d-flex justify-content-start align-items-center gap--20">
                                <div class="thumb--wrap radius--50 overflow-hidden">
                                    <img class="fit--img" src="assets/images/user/user6.png" alt="...">
                                </div>
                                <div class="content--wrap">
                                    <h6 class="name mb-0 fs--20 fw--500">Rianne Russell</h6>
                                    <p>England, United Kingdom</p>
                                </div>
                            </div>

                           
                            <div class="description--wrap">
                                <p>This ring is more beautiful in person. My favorite ring by far now. Customer service
                                    is the best I’ve had so far. Came very quickly considering they made it after I
                                    ordered it Will definitely </p>
                            </div>
                        </div>

                        <div class="review--card d-flex flex-column justify-content-start gap--16">
                            <div class="user-meta--wrap d-flex justify-content-start align-items-center gap--20">
                                <div class="thumb--wrap radius--50 overflow-hidden">
                                    <img class="fit--img" src="assets/images/user/user8.png" alt="...">
                                </div>
                                <div class="content--wrap">
                                    <h6 class="name mb-0 fs--20 fw--500">Rianne Russell</h6>
                                    <p>England, United Kingdom</p>
                                </div>
                            </div>

                            <div class="description--wrap">
                                <p>This ring is more beautiful in person. My favorite ring by far now. Customer service
                                    is the best I’ve had so far. Came very quickly considering they made it after I
                                    ordered it Will definitely </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
















            <div class="col-lg-4">

                <div class="details-wrap p-4 base--radius bg--white mb-4">
                    <div class="input--group d-flex flex-nowrap position-relative">
                        <input type="text" name="search" class="form--control border--solid1 radius--12" value=""
                            placeholder="Search" id="search">
                        <button class="search-btn">
                            <i class="las la-search"></i>
                        </button>
                    </div>
                </div>

                <div class="details-wrap p-4 base--radius bg--white mb-4 d-flex flex-column gap--28">
                    <div class="price--wrap d-flex justify-content-between align-items-center">
                        <h6 class="title mb-0">Regular</h6>
                        <h6 class="price fs--32 fw--600 mb-0" id="mainPrice">$78</h6>
                    </div>
                    <ul class="d-flex flex-column">
                        <li class="d-flex justify-content-start align-items-center gap--8">
                            <i class="fa-solid fa-check"></i>
                            <p>Quality checked by CodePin</p>
                        </li>
                        <li class="d-flex justify-content-start align-items-center gap--8">
                            <i class="fa-solid fa-check"></i>
                            <p>Feature updates</p>
                        </li>
                        <li class="d-flex justify-content-start align-items-center gap--8">
                            <i class="fa-solid fa-check"></i>
                            <p>6 month support from BoxLab
                        <li class="d-flex justify-content-start align-items-center gap--8 mb-2">
                            <i class="fa-solid fa-check"></i>
                            <p>Quality checked by CodePen</p>
                        </li>

                        <li class="d-flex justify-content-start align-items-center">
                            <div class="form--check mb-2">
                                <input class="form-check-input extend-licence--input" value="15" type="checkbox"
                                    name="flexRadioDefault" id="flexRadioDefault20">
                                <label class="form-check-label" for="flexRadioDefault20">
                                    Extend support to 12 months <span class="fs--18 fw--700">$15</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn btn--base-two btn--lg"><i class="fa-brands fa-opencart"></i> Buy Now</a>
                </div>


                <div class="details-wrap p-4 base--radius bg--white mb-4 d-flex flex-column gap--24">
                    <div class="auth-profile--wrap d-flex gap--12">
                        <div class="thumb--wrap">
                            <img class="fit--img" src="assets/images/user/user1.png" alt="...">
                        </div>
                        <div class="auth--meta">
                            <h6 class="name fw--700 fs-20 mb-0">BoxLab</h6>
                            <p class="membership--date">Member since August 2018</p>
                        </div>
                    </div>

                    <ul class="auth--badge d-flex align-items-center justify-content-center gap--8 flex-wrap">
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge1.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge2.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge3.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge4.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge5.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge6.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge7.png" alt="...">
                            </div>
                        </li>
                        <li>
                            <div class="thumb--wrap">
                                <img src="assets/images/user/userbadge8.png" alt="...">
                            </div>
                        </li>
                    </ul>

                    <div class="btn--wrap">
                        <a href="user.html" class="btn btn--base-two btn--lg w--100">View Profile</a>
                    </div>
                </div>


                <div class="details-wrap p-4 base--radius bg--white">
                    <div class="title--wrap mb-4">
                        <h6 class="title fs--20 fw--600">Product Details</h6>
                        <span class="btm--bar"></span>
                    </div>


                    <ul class="d-flex flex-column gap--24">
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Last Update</p>
                            <p class="fw--400">23 May 2024</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Published</p>
                            <p class="fw--400">23 May 2024</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Gutenberg</p>
                            <p class="fw--400">No</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Optimized</p>
                            <p class="fw--400">No</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">High Resolution</p>
                            <p class="fw--400">Yes</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Widget Ready</p>
                            <p class="fw--400">Yes</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Browsers</p>
                            <p class="fw--400">Chrome,Mozilla,Opera</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Columns</p>
                            <p class="fw--400">12</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Documentation</p>
                            <p class="fw--400">Well Documented</p>
                        </li>
                        <li class="d-flex justify-content-between align-items-center gap--20">
                            <p class="text--black fw--400">Layout</p>
                            <p class="fw--400">Responsive</p>
                        </li>
                        <li
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center gap--20 py-2">
                            <p class="text--black fw--400">Tags</p>
                            <p class="fw--400 w--50 text-left">adsense theme,affiliate
                                marketing,digital,dokan</p>
                        </li>
                    </ul>




                </div>
            </div>

        </div>
    </div>


    <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

                <!-- <div class="modal-header">
                    <h5 class="modal-title">Course Preview</h5>
                    <div class="modal-btn-wrap">
                        <button data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </div> -->

                <div class="modal-body coustom-modal-body">

                    <!-- <h1 class="title">The Ultimate Guide to the best WordPress LMS Plugin</h1> -->

                    <video id="player" playsinline controls data-poster="assets/images/common/login4.png">
                        <source src="assets/images/common/video1.mp4" type="video/mp4" />
                        <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en"
                            default />
                    </video>

                </div>

            </div>
        </div>
    </div>

</section>
<!-- product details  /> -->