<section class="plan--section zindex--1 pt-100 overflow-hidden">


    <div>

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-12">
                <div class="section-content-4 d-flex justify-content-center flex-column align-items-center mb-40">
                    <h6 class="heading wow animate__animated animate__fadeInUp text-center mb-0 fs--16 fw--500" data-wow-delay="0.1s">Collections</h6>
                    <h6 class="title wow animate__animated animate__fadeInUp text-center mb-0 fs--32 fw--700" data-wow-delay="0.2s">Keep consistency in your designs​</h6>
                </div>
            </div>
        </div>

        <div class="row justify-content-center gy-4 mb-4 left-marq flex-nowrap"> 
            <div class="col-lg-3 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img15.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img16.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img17.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img18.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img19.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <video class="fit--img" autoplay loop>
                            <source src="assets/images/product/img20.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img21.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img17.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img16.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
         
        </div>

        <div class="row justify-content-center gy-4 mb-4 right-marq flex-nowrap"> 
            <div class="col-lg-4 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img15.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img" src="assets/images/product/img16.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img17.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img18.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img19.png" alt="...">
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <video class="fit--img" autoplay loop>
                            <source src="assets/images/product/img20.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="product-card base--radius d-flex flex-column justify-content-start align-items-start overflow-hidden position-relative">
                    <div class="thumb--wrap">
                        <img class="fit--img"  src="assets/images/product/img21.png" alt="...">
                    </div>

                    <div class="primeum--option position-absolute">
                        <button><i class="fa-solid fa-crown"></i></button>
                    </div>

                    <div class="fave--share position-absolute">
                        <ul class="d-flex flex-column gap--24">
                            <li>
                                <button><i class="fa-regular fa-heart"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-file-circle-plus"></i></button>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-share"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>