<section class="ranking-section zindex--1 py-100 bg--img" style="background-image: url(assets/images/common/bg.png);">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.1s">User Ranking</h6>
                    <h1 class="title wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.2s">User Ranking</h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Here are the
                        investor leaders who have made the maximum investment with our system.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center gy-4">
            <div class="col-lg-1 col-md-6">
                <div class="rank-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon12.png" alt="...">
                    </div>
                    <h6 class="status">Silver</h6>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="col-lg-1 col-md-6">
                <div class="rank-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon13.png" alt="...">
                    </div>
                    <h6 class="status">Silver Pro</h6>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="col-lg-1 col-md-6">
                <div class="rank-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon14.png" alt="...">
                    </div>
                    <h6 class="status">Gold</h6>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="rank-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon15.png" alt="...">
                    </div>
                    <h6 class="status">Gold Pro</h6>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="rank-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon16.png" alt="...">
                    </div>
                    <h6 class="status">Platinum</h6>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="rank-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon17.png" alt="...">
                    </div>
                    <h6 class="status">Platinum Pro</h6>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="rank-card">
                    <div class="thumb-wrap">
                        <img src="assets/images/icon/icon18.png" alt="...">
                    </div>
                    <h6 class="status">Diamond</h6>
                    <span class="bar"></span>
                </div>
            </div>
        </div>
    </div>
</section>