<section class="contact-section py-100">
    <div class="container">

        <div class="row gy-4 mb-5">
            <div class="col-lg-4">
                <div class="contact--box hover-bg--base">
                    <div class="content--wrap d-flex flex-column justify-content-center align-items-center gap--16">
                        <i class="fa-solid fa-location-dot fs--50"></i>
                        <h6 class="title fs--24 fw--700 mb-1">Office Location</h6>
                        <p class="subtitle text-center">4517 Washington Manchester</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact--box hover-bg--base">
                    <div class="content--wrap d-flex flex-column justify-content-center align-items-center gap--16">
                        <i class="fa-regular fa-envelope fs--50"></i>
                        <h6 class="title fs--24 fw--700 mb-1">Email Address</h6>
                        <a class="fs--16 fw--300 d-block" href="mailto:avronsoft@gmail.com"> avronsoft@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact--box hover-bg--base">
                    <div class="content--wrap d-flex flex-column justify-content-center align-items-center gap--16">
                        <i class="fa-solid fa-location-dot fs--50"></i>
                        <h6 class="title fs--24 fw--700 mb-1">Phone Number</h6>
                        <a class="fs--16 fw--300 d-block" href="tel:+8801777128803"> +8801777128803</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center gy-4">




            <div class="col-xl-6 col-lg-4 mt-5">
                <div class="contact-right-side mb-5">
                    

                    <div class="contact-card mb-5">
                        <h6 class="mb-4 fs--24 fw--600">Contact With Us</h6>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4 form-group">
                                        <label class="mb-3 form--label">Name</label>
                                        <input class="form--control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4 form-group">
                                        <label class="mb-3 form--label">Phone</label>
                                        <input class="form--control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4 form-group">
                                        <label class="mb-3 form--label">Email</label>
                                        <input class="form--control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4 form-group">
                                        <label class="mb-3 form--label">Subject</label>
                                        <input class="form--control">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4 form-group">
                                <label class="mb-3 form--label">Message</label>
                                <textarea class="form--control"></textarea>
                            </div>
                            <button class="btn btn--base btn--lg w-100"> Send Message</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-8 mt-5">
                <div class="map-section mt-5 mb-5">
                    <div class="map-box">
                        <iframe src="https://maps.google.com/maps?q=876768,67867868&amp;hl=es;z=14&amp;output=embed"
                            allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



<!--  contact section /> -->