<section class="service-section">

    <div class="bg-animation">
        <div id="stars"></div>
    </div>


    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp" data-wow-delay="0.1s">Working Stapes</h6>
                    <h1 class="title wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">How To Make Profit With Us?</h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Aenean vulputate eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                </div>
            </div>
        </div>

        <div class="row flex-md-col--revers">
            <div class="col-lg-12">

                <div class="row justify-content-end ">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-content-box box--three">
                            <div class="text-wrap">
                                <h6 class="text">03</h6>
                             </div>
                            <div class="content-wrap">
                                <h6 class="title">Make Profit</h6>
                                <p class="sub-title">Simple And Easy Registration Process</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-content-box box--four">
                            <div class="text-wrap">
                                <h6 class="text">04</h6>
                             </div>
                            <div class="content-wrap">
                                <h6 class="title">Payment</h6>
                                <p class="sub-title">Simple And Easy Registration Process</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                
                <div class="row gy-4 justify-content-start">
                    <div class="col-lg-4 col-md-6 px-0">
                        <div class="service-content-box box--one">
                  
                                <div class="text-wrap">
                                   <h6 class="text">01</h6>
                                </div>
                          
                            <div class="content-wrap">
                                <h6 class="title">Sign Up</h6>
                                <p class="sub-title">Simple And Easy Registration Process</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 px-0">
                        <div class="service-content-box box--two">
                            <div class="text-wrap">
                                <h6 class="text">02</h6>
                             </div>
                           
                            <div class="content-wrap">
                                <h6 class="title">Deposit</h6>
                                <p class="sub-title">Simple And Easy Registration Process</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>


       
    </div>
</section>