<section class="login-section">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-xl-8 col-lg-6 px-0 d-none d-lg-block">
                <div class="login-left-section flex-column">

                    <div class="logo-wrap mb-5">
                        <a href="index.html">
                            <img src="assets/images/logo/Pentanik-logo.webp" alt="Logo">
                        </a>
                    </div>

                    <div class="thumb--wrap">
                        <img src="assets/images/common/login-bg.png" alt="...">
                    </div>

                </div>

            </div>


            <div class="col-xl-4 col-lg-6 px-0">
                <div class="signin-box bg--white">

                    <div class="home--btn bg--base radius--50 d-lg-none d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-house"></i>
                    </div>

                    <div class="icon-wrap">
                        <div class="icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    </div>

                    <h4 class="title fw--300">Create Your Account</h4>

                    <div class="social-option mb-5">

                        <ul>
                            <li><a href="#" class="btn btn-outline--dark"><img class="me-2"
                                        src="assets/images/icon/icon8.png" alt="...">Google</a></li>
                            <li><a href="#" class="btn btn-outline--dark"><img class="me-2"
                                        src="assets/images/icon/icon9.png" alt="...">Facebook</a></li>
                        </ul>

                        <div class="text">
                            <h6>OR</h6>
                        </div>


                    </div>



                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">User name</label>
                        <input class="form--control bg--white" placeholder="User name">
                    </div>

                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">Email</label>
                        <input class="form--control bg--white" placeholder="Name">
                    </div>

                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">Mobile</label>
                        <div class="input-group mb-4">
                            <span class="input-group-text mobile-code bg--base border-0 text-light">+880</span>
                            <input type="number" name="mobile" value="" class="form-control form--control checkUser bg--white"
                                required="" id="mobile">
                        </div>
                    </div>

                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">Passwords</label>
                        <input class="form--control bg--white" placeholder="Name">
                    </div>

                    <div class="mb-4 form-group">
                        <label class="mb-2 form--label">Confirm Passwords</label>
                        <input class="form--control bg--white" placeholder="Name">
                    </div>

                    <div class="signin-meta d-flex flex-nowrap mb-4" data-wow-delay="0.5s">
                        <div class="form--check">
                            <input class="form-check-input" type="checkbox" value="">
                        </div>
                        <div class="condition-text">
                            <p>I agree with Company, <a href="#">Privacy Policy</a> and <a href="#">Terms of
                                    Service</a>
                            </p>
                        </div>
                    </div>
                    <button class="btn btn--base-two btn--lg w-100">Sign Up</button>




                    <div class="mt-5 text-center">
                        <p>You have any account ? <a href="login.html" class="text--base">Log In</a></p>
                    </div>









                </div>
            </div>
        </div>
    </div>
</section>