<section class="transaction-section py-100 bg--img zindex--1" style="background-image: url(assets/images/common/bg.png);">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-content-4">
                    <h6 class="heading wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.1s">Transaction</h6>
                    <h1 class="title wow animate__animated animate__fadeInUp"
                        data-wow-delay="0.2s">Latest Transaction</h1>
                    <p class="subtitle wow animate__animated animate__fadeInUp" data-wow-delay="0.3s">Aenean vulputate
                        eleifend tellus. Aenean leo ligul porttitoeu consequat vitae eleifend acenim</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="transaction-card">


                    <ul class="nav nav-tabs coustome-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="btn btn--base outline active" id="LatestDeposit-tab" data-bs-toggle="tab"
                                data-bs-target="#LatestDeposit" type="button" role="tab"
                                aria-selected="true">Latest Deposit</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="btn btn--base outline" id="LatestWithdraw-tab" data-bs-toggle="tab"
                                data-bs-target="#LatestWithdraw" type="button" role="tab" aria-selected="false"
                                tabindex="-1">Latest Withdraw</button>
                        </li>
                       

                    </ul>
                    <div class="tab-content">
                        <!-- Latest Deposit -->
                        <div class="tab-pane fade active show" id="LatestDeposit" role="tabpanel"
                            aria-labelledby="Beneficiaries-tab">

                            <div class="col-lg-12">
                                <div class="">
                                    <div class="tbl-wrap">
                                        <table class="table table--responsive--lg">
                                            <thead>
                                                <tr>
                                                    <th>Name </th>
                                                    <th>Date</th>
                                                    <th>Amount</th>
                                                    <th>Gateway</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Name">hdhd xbwbd</td>
                                                    <td data-label="Date">2022-05-21 12:00 AM</td>
                                                    <td data-label="Amount">1000 USD</td>
                                                    <td data-label="Gateway">Stripe Hosted</td>
                                                </tr>
                                                <tr>
                                                    <td data-label="Name">hdhd xbwbd</td>
                                                    <td data-label="Date">2022-05-21 12:00 AM</td>
                                                    <td data-label="Amount">1000 USD</td>
                                                    <td data-label="Gateway">Stripe Hosted</td>
                                                </tr>
                                                <tr>
                                                    <td data-label="Name">hdhd xbwbd</td>
                                                    <td data-label="Date">2022-05-21 12:00 AM</td>
                                                    <td data-label="Amount">1000 USD</td>
                                                    <td data-label="Gateway">Stripe Hosted</td>
                                                </tr>
                                                <tr>
                                                    <td data-label="Name">hdhd xbwbd</td>
                                                    <td data-label="Date">2022-05-21 12:00 AM</td>
                                                    <td data-label="Amount">1000 USD</td>
                                                    <td data-label="Gateway">Stripe Hosted</td>
                                                </tr>
                                                <tr>
                                                    <td data-label="Name">hdhd xbwbd</td>
                                                    <td data-label="Date">2022-05-21 12:00 AM</td>
                                                    <td data-label="Amount">1000 USD</td>
                                                    <td data-label="Gateway">Stripe Hosted</td>
                                                </tr>
                                                <tr>
                                                    <td data-label="Name">hdhd xbwbd</td>
                                                    <td data-label="Date">2022-05-21 12:00 AM</td>
                                                    <td data-label="Amount">1000 USD</td>
                                                    <td data-label="Gateway">Stripe Hosted</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Latest Withdraw -->
                        <div class="tab-pane fade" id="LatestWithdraw" role="tabpanel" aria-labelledby="Bankzone-tab">
                            <div class="col-lg-12">
                                <div class="tbl-wrap">
                                    <table class="table table--responsive--lg">
                                        <thead>
                                            <tr>
                                                <th>Name </th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Gateway</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-label="Name">hdhd xbwbd</td>
                                                <td data-label="Date">2022-05-21 12:00 AM</td>
                                                <td data-label="Amount">1000 USD</td>
                                                <td data-label="Gateway">Stripe Hosted</td>
                                            </tr>
                                            <tr>
                                                <td data-label="Name">hdhd xbwbd</td>
                                                <td data-label="Date">2022-05-21 12:00 AM</td>
                                                <td data-label="Amount">1000 USD</td>
                                                <td data-label="Gateway">Stripe Hosted</td>
                                            </tr>
                                            <tr>
                                                <td data-label="Name">hdhd xbwbd</td>
                                                <td data-label="Date">2022-05-21 12:00 AM</td>
                                                <td data-label="Amount">1000 USD</td>
                                                <td data-label="Gateway">Stripe Hosted</td>
                                            </tr>
                                            <tr>
                                                <td data-label="Name">hdhd xbwbd</td>
                                                <td data-label="Date">2022-05-21 12:00 AM</td>
                                                <td data-label="Amount">1000 USD</td>
                                                <td data-label="Gateway">Stripe Hosted</td>
                                            </tr>
                                            <tr>
                                                <td data-label="Name">hdhd xbwbd</td>
                                                <td data-label="Date">2022-05-21 12:00 AM</td>
                                                <td data-label="Amount">1000 USD</td>
                                                <td data-label="Gateway">Stripe Hosted</td>
                                            </tr>
                                            <tr>
                                                <td data-label="Name">hdhd xbwbd</td>
                                                <td data-label="Date">2022-05-21 12:00 AM</td>
                                                <td data-label="Amount">1000 USD</td>
                                                <td data-label="Gateway">Stripe Hosted</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>