.testimonial-section {

    .left-content--wrap{
        padding-top: 40px;
        width: 67%;
    }


    .testimonial--wrap {
        padding-left: 42px;
        background-color: hsl(var(--base) / 0.1);
    }
}